In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

First load the data we will need:

In [2]:
drivers = pd.read_csv('data/drivers.csv')
drivers['name'] = drivers.forename + " " + drivers.surname
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,name
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,Nick Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,Heikki Kovalainen

In [3]:
results = pd.read_csv('data/results.csv')
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [4]:
races = pd.read_csv('data/races.csv')
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [5]:
data = drivers[['name', 'driverId','number']].merge(results[['driverId','raceId','position']], on=['driverId'])
data = data.merge(races[['raceId','year','name','date']], on='raceId')
data.head()

,name_x,driverId,number,raceId,position,year,name_y,date
0,Lewis Hamilton,1,44,18,1,2008,Australian Grand Prix,2008-03-16
1,Nick Heidfeld,2,\N,18,2,2008,Australian Grand Prix,2008-03-16
2,Nico Rosberg,3,6,18,3,2008,Australian Grand Prix,2008-03-16
3,Fernando Alonso,4,14,18,4,2008,Australian Grand Prix,2008-03-16
4,Heikki Kovalainen,5,\N,18,5,2008,Australian Grand Prix,2008-03-16

In [6]:
data.describe(include='all')

,name_x,driverId,number,raceId,position,year,name_y,date
count,24960,24960.000000,24960,24960.000000,24960,24960.000000,24960,24960
unique,850,NaN,42,NaN,34,NaN,48,1035
top,Kimi Räikkönen,NaN,\N,NaN,\N,NaN,British Grand Prix,1954-05-31
freq,332,NaN,20257,NaN,10735,NaN,1793,55
mean,NaN,246.447796,NaN,512.323037,NaN,1989.150080,NaN,NaN
std,NaN,253.697199,NaN,286.538482,NaN,18.756298,NaN,NaN
min,NaN,1.000000,NaN,1.000000,NaN,1950.000000,NaN,NaN
25%,NaN,56.000000,NaN,285.000000,NaN,1976.000000,NaN,NaN
50%,NaN,158.000000,NaN,498.000000,NaN,1990.000000,NaN,NaN
75%,NaN,346.000000,NaN,753.000000,NaN,2005.000000,NaN,NaN
max,NaN,851.000000,NaN,1047.000000,NaN,2020.000000,NaN,NaN

Restrict the data to 2020 only:

In [7]:
data = data[data.year == 2020]

In [8]:
data.head()

,name_x,driverId,number,raceId,position,year,name_y,date
5379,Lewis Hamilton,1,44,1031,4,2020,Austrian Grand Prix,2020-07-05
5380,Kimi Räikkönen,8,7,1031,\N,2020,Austrian Grand Prix,2020-07-05
5381,Sebastian Vettel,20,5,1031,10,2020,Austrian Grand Prix,2020-07-05
5382,Romain Grosjean,154,8,1031,\N,2020,Austrian Grand Prix,2020-07-05
5383,Pierre Gasly,842,10,1031,7,2020,Austrian Grand Prix,2020-07-05

We need to know the different position values to bucket them into wins, podiums, points finishes etc. I am assuming that \N is a DNF. Any missing rows should be a DNS (due to covid or injuries).

In [9]:
data.position.unique()

array(['4', '\\N', '10', '7', '6', '1', '12', '5', '8', '9', '2', '3',
       '13', '11', '15', '14', '16', '17', '18', '19'], dtype=object)

In [10]:
position_data = {}
for driver_id in data.driverId.unique(): 
    driver_data = data[data.driverId == driver_id]
    wins = 0
    podiums = 0
    points = 0
    no_points = 0
    dnfs = 0
    dns = 0
    for index, row in driver_data.iterrows():
        if row.position == '1':
            wins += 1
        elif row.position in ('2','3'):
            podiums += 1
        elif row.position in ('4','5','6','7','8','9','10'):
            points += 1
        elif row.position == '\\N':
            dnfs += 1
        else:
            no_points += 1
    
    # 17 is the number of races for the season
    dns = 17 - sum([wins, podiums, points, no_points, dnfs])
    output = {
        'wins' : wins,
        'podiums': podiums,
        'points': points,
        'no_points': no_points,
        'dnfs': dnfs,
        'dns': dns
    }

    position_data[driver_data.iloc[0].name_x] = output

print(position_data)

{'Lewis Hamilton': {'wins': 11, 'podiums': 3, 'points': 2, 'no_points': 0, 'dnfs': 0, 'dns': 1}, 'Kimi Räikkönen': {'wins': 0, 'podiums': 0, 'points': 2, 'no_points': 14, 'dnfs': 1, 'dns': 0}, 'Sebastian Vettel': {'wins': 0, 'podiums': 1, 'points': 6, 'no_points': 8, 'dnfs': 2, 'dns': 0}, 'Romain Grosjean': {'wins': 0, 'podiums': 0, 'points': 1, 'no_points': 11, 'dnfs': 3, 'dns': 2}, 'Pierre Gasly': {'wins': 1, 'podiums': 0, 'points': 9, 'no_points': 4, 'dnfs': 3, 'dns': 0}, 'Sergio Pérez': {'wins': 1, 'podiums': 1, 'points': 11, 'no_points': 1, 'dnfs': 1, 'dns': 2}, 'Daniel Ricciardo': {'wins': 0, 'podiums': 2, 'points': 12, 'no_points': 2, 'dnfs': 1, 'dns': 0}, 'Valtteri Bottas': {'wins': 2, 'podiums': 9, 'points': 3, 'no_points': 2, 'dnfs': 1, 'dns': 0}, 'Kevin Magnussen': {'wins': 0, 'podiums': 0, 'points': 1, 'no_points': 10, 'dnfs': 6, 'dns': 0}, 'Daniil Kvyat': {'wins': 0, 'podiums': 0, 'points': 7, 'no_points': 9, 'dnfs': 1, 'dns': 0}, 'Max Verstappen': {'wins': 2, 'podiums': 9, 'points': 1, 'no_points': 0, 'dnfs': 5, 'dns': 0}, 'Carlos Sainz': {'wins': 0, 'podiums': 1, 'points': 11, 'no_points': 2, 'dnfs': 3, 'dns': 0}, 'Esteban Ocon': {'wins': 0, 'podiums': 1, 'points': 9, 'no_points': 3, 'dnfs': 4, 'dns': 0}, 'Lance Stroll': {'wins': 0, 'podiums': 2, 'points': 8, 'no_points': 1, 'dnfs': 5, 'dns': 1}, 'Antonio Giovinazzi': {'wins': 0, 'podiums': 0, 'points': 3, 'no_points': 11, 'dnfs': 3, 'dns': 0}, 'Charles Leclerc': {'wins': 0, 'podiums': 2, 'points': 8, 'no_points': 3, 'dnfs': 4, 'dns': 0}, 'Lando Norris': {'wins': 0, 'podiums': 1, 'points': 12, 'no_points': 3, 'dnfs': 1, 'dns': 0}, 'George Russell': {'wins': 0, 'podiums': 0, 'points': 1, 'no_points': 12, 'dnfs': 4, 'dns': 0}, 'Alexander Albon': {'wins': 0, 'podiums': 2, 'points': 10, 'no_points': 4, 'dnfs': 1, 'dns': 0}, 'Nicholas Latifi': {'wins': 0, 'podiums': 0, 'points': 0, 'no_points': 14, 'dnfs': 3, 'dns': 0}, 'Nico Hülkenberg': {'wins': 0, 'podiums': 0, 'points': 2, 'no_points': 0, 'dnfs': 1, 'dns': 14}, 'Pietro Fittipaldi': {'wins': 0, 'podiums': 0, 'points': 0, 'no_points': 2, 'dnfs': 0, 'dns': 15}, 'Jack Aitken': {'wins': 0, 'podiums': 0, 'points': 0, 'no_points': 1, 'dnfs': 0, 'dns': 16}}

Convert the dictionary to a dataframe and remove Aitken, Fittipaldi and Hulkenberg as they only competed as subs.

In [11]:
driver_results = pd.DataFrame(position_data).T[:-3].reset_index()
driver_results.columns = ['name', 'wins', 'podiums', 'points', 'no_points', 'dnfs', 'dns']
driver_results

                  name  wins  podiums  points  no_points  dnfs  dns
0       Lewis Hamilton    11        3       2          0     0    1
1       Kimi Räikkönen     0        0       2         14     1    0
2     Sebastian Vettel     0        1       6          8     2    0
3      Romain Grosjean     0        0       1         11     3    2
4         Pierre Gasly     1        0       9          4     3    0
5         Sergio Pérez     1        1      11          1     1    2
6     Daniel Ricciardo     0        2      12          2     1    0
7      Valtteri Bottas     2        9       3          2     1    0
8      Kevin Magnussen     0        0       1         10     6    0
9         Daniil Kvyat     0        0       7          9     1    0
10      Max Verstappen     2        9       1          0     5    0
11        Carlos Sainz     0        1      11          2     3    0
12        Esteban Ocon     0        1       9          3     4    0
13        Lance Stroll     0        2       8          1     5    1
14  Antonio Giovinazzi     0        0       3         11     3    0
15     Charles Leclerc     0        2       8          3     4    0
16        Lando Norris     0        1      12          3     1    0
17      George Russell     0        0       1         12     4    0
18     Alexander Albon     0        2      10          4     1    0
19     Nicholas Latifi     0        0       0         14     3    0

I want to order each driver by where they finished in the championship, which I will do using the standings dataset.

In [12]:
standings = pd.read_csv('data/driver_standings.csv')
standings = standings[standings.raceId == 1047]
standings.dtypes

driverStandingsId      int64
raceId                 int64
driverId               int64
points               float64
position               int64
positionText          object
wins                   int64
dtype: object

Merge the data with the driver results, and standings dataand rename the columns to make them more presentable:

In [13]:
data = data.merge(driver_results, left_on=["name_x"], right_on=['name']).merge(standings[["driverId", "position"]], on=["driverId"])
data = data.drop(['name_x','driverId','position_x','year','name_y','date','raceId'], axis=1)
data = data.drop_duplicates()
data.columns = ['Number', 'Name', 'Wins', 'Podiums', 'Points', 'No_Points', 'DNFs', 'DNS', 'Position']
data

,Number,Name,Wins,Podiums,Points,No_Points,DNFs,DNS,Position
0,44,Lewis Hamilton,11,3,2,0,0,1,1
16,7,Kimi Räikkönen,0,0,2,14,1,0,16
33,5,Sebastian Vettel,0,1,6,8,2,0,13
50,8,Romain Grosjean,0,0,1,11,3,2,19
65,10,Pierre Gasly,1,0,9,4,3,0,10
82,11,Sergio Pérez,1,1,11,1,1,2,4
97,3,Daniel Ricciardo,0,2,12,2,1,0,5
114,77,Valtteri Bottas,2,9,3,2,1,0,2
131,20,Kevin Magnussen,0,0,1,10,6,0,20
148,26,Daniil Kvyat,0,0,7,9,1,0,14
165,33,Max Verstappen,2,9,1,0,5,0,3
182,55,Carlos Sainz,0,1,11,2,3,0,6
199,31,Esteban Ocon,0,1,9,3,4,0,12
216,18,Lance Stroll,0,2,8,1,5,1,11
232,99,Antonio Giovinazzi,0,0,3,11,3,0,17
249,16,Charles Leclerc,0,2,8,3,4,0,8
266,4,Lando Norris,0,1,12,3,1,0,9
283,63,George Russell,0,0,1,12,4,0,18
300,23,Alexander Albon,0,2,10,4,1,0,7
317,6,Nicholas Latifi,0,0,0,14,3,0,21

Sort the data by championship finish position:

In [14]:
data = data.sort_values(by=['Position'])
print(data.shape)
data

(20, 9)

,Number,Name,Wins,Podiums,Points,No_Points,DNFs,DNS,Position
0,44,Lewis Hamilton,11,3,2,0,0,1,1
114,77,Valtteri Bottas,2,9,3,2,1,0,2
165,33,Max Verstappen,2,9,1,0,5,0,3
82,11,Sergio Pérez,1,1,11,1,1,2,4
97,3,Daniel Ricciardo,0,2,12,2,1,0,5
182,55,Carlos Sainz,0,1,11,2,3,0,6
300,23,Alexander Albon,0,2,10,4,1,0,7
249,16,Charles Leclerc,0,2,8,3,4,0,8
266,4,Lando Norris,0,1,12,3,1,0,9
65,10,Pierre Gasly,1,0,9,4,3,0,10
216,18,Lance Stroll,0,2,8,1,5,1,11
199,31,Esteban Ocon,0,1,9,3,4,0,12
33,5,Sebastian Vettel,0,1,6,8,2,0,13
148,26,Daniil Kvyat,0,0,7,9,1,0,14
16,7,Kimi Räikkönen,0,0,2,14,1,0,16
232,99,Antonio Giovinazzi,0,0,3,11,3,0,17
283,63,George Russell,0,0,1,12,4,0,18
50,8,Romain Grosjean,0,0,1,11,3,2,19
131,20,Kevin Magnussen,0,0,1,10,6,0,20
317,6,Nicholas Latifi,0,0,0,14,3,0,21

In [15]:
data.to_csv('./data/driver_finish_results.csv')