In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

This will essentially be the same data as day 3 but with higher resolution, which we will get using quarterly gdp measurements in place of yearly figures.

In [2]:
gdp = pd.read_csv('./data/uk_gdp.csv')
gdp.head(10)

,Title,Gross Domestic Product: chained volume measures: Seasonally adjusted £m
0,CDID,ABMI
1,Source dataset ID,UKEA
2,PreUnit,£
3,Unit,m
4,Release date,31-03-2021
5,Next release,30 June 2021
6,Important notes,NaN
7,1948,365418
8,1949,377558
9,1950,390150

The quarterly figures start f

In [7]:
gdp = gdp.iloc[80:]
gdp.head()

,Title,Gross Domestic Product: chained volume measures: Seasonally adjusted £m
80,1955 Q1,116532
81,1955 Q2,116637
82,1955 Q3,118997
83,1955 Q4,118351
84,1956 Q1,119735

In [12]:
gdp.tail()

        Year     GDP
339  2019 Q4  544733
340  2020 Q1  529223
341  2020 Q2  426197
342  2020 Q3  498429
343  2020 Q4  504742

In [8]:
gdp.columns = ['Year', 'GDP']
gdp.head()

       Year     GDP
80  1955 Q1  116532
81  1955 Q2  116637
82  1955 Q3  118997
83  1955 Q4  118351
84  1956 Q1  119735

In [11]:
gdp.to_csv('./data/uk_gdp_quarterly.csv')